# fly.toml app configuration file generated for k-pong on 2025-05-13T15:45:53Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'k-pong'
primary_region = 'arn'

[env]
  REACT_APP_BACKEND_URL = "https://k-pong-backend.fly.dev"

[build]
  [build.args]
    NODE_VERSION = "18"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[http_service.concurrency]
  type = "connections"
  hard_limit = 1000
  soft_limit = 1000

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
