# fly.toml app configuration file generated for k-pong-player-service on 2025-05-15T12:08:22Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'k-pong-player-service'
primary_region = 'arn'

[env]
  PORT = "5001"
  NODE_ENV = "production"
  FRONTEND_URL = "https://k-pong.fly.dev"
  BACKEND_URL = "http://k-pong-backend.internal"

[build]

[http_service]
  internal_port = 5001
  force_https = false
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
